@(message: String)

@main("xy-inc") {

    <form action="@routes.POIController.save()" method="post">
    	<table>
    		<tr>
	    		<td><label for="name">Nome:</label></td>
	    		<td><input type="text" name="name"/></td>
	    	</tr>
	    	
	    	<tr>
	    		<td><label for="name">X:</label></td>
				<td><input type="number" name="x"/></td>
			</tr>
			<tr>
				<td><label for="name">Y:</label></td>
				<td><input type="number" name="y"/></td>
			</tr>
		</table>
		<button type="submit">Salvar</button>
	</form>
}
